<h1>Add a Reveiw</h1>
<%= form_for [@item, @rating] do |f| %>
  <%= f.label :body %>
  <strong><%= f.text_field :body %></strong>

  <%= f.label :author %>
  <br />
  <%= f.text_area :author, placeholder: 'Name' %>
  <br />
  <%= f.submit %>
<% end %>
