<h1><%= @category.name %> - <%= @item.name %></h1>
<hr />
<p><%= @item.description %></p>
<h4>Price: $<%= @item.price %></h4>

<% binding.pry %>
<% @item.ratings.each do |rating| %>
  <%= render 'ratings/rating', { rating: rating } %>
<% end %>

<hr />
<%= link_to 'Edit Item', edit_category_item_path(@category, @item) %>
<%= link_to 'Delete Item', category_item_path(@category, @item), method: :delete %>
<%= link_to 'Add Comment', new_item_rating_path(@item) %>